.h1 {
    text-align: center;
    font-family: Arial;
    color:white;
    margin-top: 100px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 15px auto auto;
    background-color:rgb(47, 126, 212)
}

.input {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    margin: 15px auto auto;
}

.table, .tr, .td, .th {
    border: 1px solid white;
    color: white;
    align-content: center;
}